html, body	{
	height: 100%;
	margin: 0;
	padding: 0;
	}
body	{
	background: #fff;
	color: #393939;
	font-family: Arial;
	font-size: 12px;
	}
#page-top-outer	{
	background-image:url(../images/spotlight-bg.png);
	border-bottom: 1px solid #7e7e7e;
	height: 100px;
	}
#page-top	{
	margin: 0 auto;
	max-width: 1260px;
	min-width: 850px;
	position: relative;
	}
#logo	{
	float: left;
	margin: 20px 0 0 15px;
	}
#logo	a	{
	display: block;
	}
 
/*  NAVIGATION ----------------------------------------------- */
#nav-holder	{
	margin: 0 auto;
	max-width: 1260px;
	min-width: 780px;
	text-align: left;
	}
.nav-outer-repeat	{
	background: url(../images/shared/nav/repeat.jpg) repeat-x;
	height: 77px;
	}
.nav-outer	{
	margin: 0 auto;
	max-width: 1260px;
	min-width: 850px;
	}
#nav-right	{
	float: right;
	position: relative;
	width: 225px;
	z-index: 0;
	}
#nav-right a	{
	display: block;
	float: left;
	margin: 0px 0 0 0;
	}
.account-content	{
	background: #454545 url(../images/shared/nav/account_drop_bg.gif) no-repeat bottom;
	display: none;
	left: 5px;
	padding-bottom: 20px;
	position: absolute;
	top: 30px;
	width: 170px;
	}
.account-drop-inner	{
	font-size: 0px;
	line-height: 0px;
	margin: 20px auto 0 auto;
	width: 140px;
	}
.showhide-account	{
	cursor: pointer;
	display: block;
	float: left;
	}
.account-drop-inner a	{
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	line-height: 16px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	}
.account-drop-inner a:hover	{
	color: #94b52c;
	}
.acc-line	{
	background: url(../images/shared/nav/account_line.gif) no-repeat 0 7px;
	font-size: 0px;
	height: 14px;
	line-height: 0px;
	margin-top: 0px;
	padding: 0;
	}
a#logout	{
	margin: 10px 0 0 5px;
	}
a#acc-settings	{
	background: url(../images/shared/nav/icon_acc_settings.gif) no-repeat 0 2px;
	padding: 0 0 0 20px;
	}
a#acc-details	{
	background: url(../images/shared/nav/icon_acc_personal.gif) no-repeat 0 2px;
	padding: 0 0 0 20px;
	}
a#acc-project	{
	background: url(../images/shared/nav/icon_acc_projects.gif) no-repeat 0 2px;
	padding: 0 0 0 20px;
	}
a#acc-inbox	{
	background: url(../images/shared/nav/icon_acc_inbox.gif) no-repeat 0 2px;
	padding: 0 0 0 20px;
	}
a#acc-stats	{
	background: url(../images/shared/nav/icon_acc_stats.gif) no-repeat 0 2px;
	padding: 0 0 0 20px;
	}

/* ================================================================ 
This copyright notice must be untouched at all times. The original version of this stylesheet and the associated (x)html is available at http://www.cssplay.co.uk/menus/pro_dropline.html
Copyright (c) 2005-2007 Stu Nicholls. All rights reserved. This stylesheet and the associated (x)html may be modified in any way to fit your requirements.
=================================================================== */

.nav	{
	float: left;
	font-family: Arial;
	font-size: 12px;
	height: 38px;
	position: relative;
	width: 1000px;
	min-width: 900px;
	z-index: 500;
	}
.nav-divider	{
	background: url(../images/shared/nav/divider.jpg) top no-repeat;
	float: left;
	height: 40px;
	width: 15px;
	}
.nav .table	{
	display: table;
	}
.nav .select,
.nav .current	{
	display: table-cell;
	float: left;
	list-style: none;
	margin: 0 0px 0 0;
	padding: 0;
	white-space: nowrap;
	}
.nav li	{
	float: left;
	height: auto;
	margin: 0;
	padding: 0;
	}
.nav .select a	{
	background: url(../images/shared/nav/pro_line_0.gif);
	color: #fff;
	display: block;
	float: left;
	height: 37px;
	line-height: 35px;
	padding: 0 20px 0 20px;
	text-decoration: none;
	white-space: nowrap;
	}
.nav .current a	{
	background: url(../images/shared/nav/pro_line_1.gif);
	color: #fff;
	display: block;
	float: left;
	height: 37px;
	line-height: 35px;
	padding: 0 0 0 10px;
	text-decoration: none;
	white-space: nowrap;
	}
.nav .current a b	{
	background: url(../images/shared/nav/pro_line_1.gif) right top;
	display: block;
	padding: 0 20px 0 10px;
	}
.nav .select a:hover, 
.nav .select li:hover a	{
	background: url(../images/shared/nav/pro_line_1.gif);
	color: #fff;
	cursor: pointer;
	padding: 0 0 0 10px;
	}
.nav .select a:hover b, 
.nav .select li:hover a b	{
	background: url(../images/shared/nav/pro_line_1.gif) right top;
	cursor: pointer;
	display: block;
	float: left;
	padding: 0 20px 0 10px;
	}
.nav .select_sub	{
	display: none;
	margin: 0 0 0 10px;
	}

/* IE6 only */
.nav table	{
	font-size: 12px;
	height: 0;
	margin: -1px;
	width: 0;
	}
.nav .sub	{
	display: table;
	list-style: none;
	/* margin: 0 auto; */
	padding: 0;
	}
.nav .select .show	{
	background: url(../images/shared/nav/back_0.gif);
	display: block;
	left: 0;
	padding: 0;
	position: absolute;
	text-align: left;
	top: 37px;
	width: 1000px;
	z-index: 100;
	}
.nav .select :hover .select_sub, 
.nav .current .show	{
	background: url(../images/shared/nav/back_0.gif);
	display: block;
	left: 0;
	padding: 0;
	position: absolute;
	text-align: left;
	top: 37px;
	width: 1000px;
	z-index: 100;
	}
.nav .current .show	{
	z-index: 10;
	}
.nav .select :hover .sub li a, 
.nav .current .show .sub li a	{
	background: transparent;
	border-right:1px solid #666666;
	color: #fff;
	font-size: 12px;
	display: block;
	float: left;
	margin: 0;
	padding: 1px 15px 1px 15px;
	white-space: nowrap;
	}
.nav .current .sub li.sub_show a	{
	background: url(../images/shared/nav/menus/back_1.gif);
	color: #94b52c;
	cursor: default;
	}
.nav .select :hover .sub li a:hover, 
.nav .current .sub li a:hover	{
	background: url(../images/shared/nav/menus/back_1.gif);
	color: #94b52c;
	visibility: visible;
	}
 
	
	
 
 
	
	
/* FOOTER -------------------------------------------------------------- */

 
#footer	{
height: 70px;
	 
	margin: 10px auto 0px auto;
	padding: 0px 0 0 0;
	text-align: left;
	min-width: 780px;
	max-width: 1260px;
	}
#footer-left	{
	color: #818181;
	 
	font-size: 11px;
	line-height: 11px;
	padding: 15px 0 15px 25px;
	margin: 0 20px;
	
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	background: url(../images/shared/icon_idlogo.jpg) no-repeat 0 12px;
	} 
#footer-left a	{
	color: #818181;
	text-decoration: none;
	}
#footer-left 	 a.selected,
#footer-left 	 a:hover	{
	color: #000;
	text-decoration: none;
	}
	
 
 
 
/* GENERAL --------------------------------------------------------*/ 


.input-tombol{
padding:8px;
border:1px solid #666666;
background-image:url(../images/spotlight-bg.png);
color:#FFFFFF;
cursor:pointer;
}

.pagingpage-nomor{
	background-color: #fff;
	text-align:center;
	width:20px;
	padding: 5px;
	border: 1px solid #CCCCCC;
	float:left;
	margin:1px;
}
.pagingpage{
	background-color: #fff;
	padding: 5px;
	border: 1px solid #CCCCCC;
	float:left;
	margin:1px;
}

.pagingpage-nomor:hover{
	background-image:url(../images/spotlight-bg.png);
	color:#FFFFFF;
}
.pagingpage:hover{
	background-image:url(../images/spotlight-bg.png);
	color:#FFFFFF;
}

 
 
 
 
 
 
 
 
 
 
 
 
 
 

.login-inp	{
	border:1px solid #333333;
	font-size: 12px;
	padding:5px;
	font-family: Arial;
	}

#content-outer	{
	background: url(../images/shared/content_repeat.jpg) repeat-x;
	}
#content a{
	text-decoration:none;
	color:#FF9900;
	}
#content li{
	padding:5px;
	}
#content	{
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	margin: 0 auto 0 auto;
	max-width: 1260px;
	min-width: 780px;
	padding: 35px 0px 30px 0px;
	}
#content-inner	{
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	margin: 0 auto 0px auto;
	padding: 25px 0 30px 0;
	}
#page-heading	{
	margin: 0 0 15px 20px;
	}
  h1	{
	color: #4b4b4b;
	font-family: Tahoma;
	font-size: 22px;
	line-height: 24px;
	font-weight: normal;
	}
h2	{
	color: #393939;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 10px;
	}
h3	{
	color: #92b22c;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	margin-bottom: 10px;
	}

 